[submodule "opt/vim-colors-solarized"]
	path = opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "opt/vim-colorschemes"]
	path = opt/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
  ignore = dirty
